*, *::before, *::after {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, #77f1d1, #34ef51);
}

.klocka {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: blue 30px solid;
    position: relative;
    margin: 5% auto;

}

.klocka .nummer {
    --rotera: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotera));
}

.klocka .nummer1 { --rotera: 30deg; }
.klocka .nummer1 div {
    transform: rotateZ(-30deg);
}
.klocka .nummer2 { --rotera: 60deg; }
.klocka .nummer2 div {
    transform: rotateZ(-60deg);
}
.klocka .nummer3 { --rotera: 90deg; }
.klocka .nummer3 div {
    transform: rotateZ(-90deg);
}
.klocka .nummer4 { --rotera: 120deg; }
.klocka .nummer4 div {
    transform: rotateZ(-120deg);
}
.klocka .nummer5 { --rotera: 150deg; }
.klocka .nummer5 div {
    transform: rotateZ(-150deg);
}
.klocka .nummer6 { --rotera: 180deg; }
.klocka .nummer6 div {
    transform: rotateZ(-180deg);
}
.klocka .nummer7 { --rotera: 210deg; }
.klocka .nummer7 div {
    transform: rotateZ(-210deg);
}
.klocka .nummer8 { --rotera: 240deg; }
.klocka .nummer8 div {
    transform: rotateZ(-240deg);
}
.klocka .nummer9 { --rotera: 270deg; }
.klocka .nummer9 div {
    transform: rotateZ(-270deg);
}
.klocka .nummer10 { --rotera: 300deg; }
.klocka .nummer10 div {
    transform: rotateZ(-300deg);
}
.klocka .nummer11 { --rotera: 330deg; }
.klocka .nummer11 div {
    transform: rotateZ(-330deg);
}

.klocka::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.klocka .visare {
    --visare: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--visare) * 1deg));
}

.klocka .visare.sekund {
    width: 3px;
    background: red;
    height: 45%;
}
.klocka .visare.minut {
    width: 7px;
    background: rgb(0, 0, 0);
    height: 40%;
}
.klocka .visare.tim {
    width: 13px;
    background: rgb(0, 0, 0);
    height: 30%;

}